body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: white;
}
